extends include/template
append config 
  -siteName = 'Camaras de seguridad'
prepend styles
  //- estilo de la compaacion de imagen 
  link(rel="stylesheet", href="public/css/twentytwenty.css")
block content
  //- se coloca las tres imagen primero va desktop, tablet, mobil, mobilpequexo
  +Header('bannerCam.png','bannerCamTablet.png','bannerCamMobil.png','bannerCamMobilpequexo.png')
  section.mt-5.mb-5
    h1.text-capitalize.text-center.p-4.bg-dark.text-white camaras de seguridad
  .container
    //- extraemos los datos
    -var datacam = dataCardProduct[0];
    -var dataPam = dataCardProduct[1];
    -var dataCamBlack = dataCardProduct[5];
   
    .row
      .col-md-4.col-12.mb-5
        .card-deck.h-100
          .card
            img.card-img-top(src=`public/img/${datacam[0]}`, alt="")
            .card-body
              h5.card-title.text-capitalize #{datacam[1]}
              p.card-text $ #{datacam[2]}
            .card-footer.d-flex.justify-content-end
              button.btn.btn-outline-info.btn-block.text-capitalize(data-toggle="modal" data-target=`${datacam[3]}`) leer mas        
      .col-md-4.col-12.mb-5
        .card-deck.h-100
          .card
            img.card-img-top(src=`public/img/${dataPam[0]}`, alt="")
            .card-body
              h5.card-title.text-capitalize #{dataPam[1]}
              p.card-text $ #{dataPam[2]}
            .card-footer.d-flex.justify-content-end
              button.btn.btn-outline-info.btn-block.text-capitalize(data-toggle="modal" data-target=`${dataPam[3]}`) leer mas        
      .col-md-4.col-12.mb-5
        .card-deck.h-100
          .card
            img.card-img-top(src=`public/img/${dataCamBlack[0]}`, alt="")
            .card-body
              h5.card-title.text-capitalize #{dataCamBlack[1]}
              p.card-text $ #{dataCamBlack[2]}
            .card-footer.d-flex.justify-content-end
              button.btn.btn-outline-info.btn-block.text-capitalize(data-toggle="modal" data-target=`${dataCamBlack[3]}`) leer mas
  +ModalProduct
  +Footer 