extends include/template

append config
  -siteName='Home'
prepend styles
  //-  link de estilo
  link(rel="stylesheet", href="public/css/twentytwenty.css")
block content
  +Header('banneriglesia.jpg')
  section.sectionContainer.mb-5
    .container
      .row.mt-4
        .sectionContainer__img.col-lg-6.col-md-6.col-sm-12
          +Slider('cam-pam/pan_left_2.jpg','cam-white/wyze_cam_front.jpg','sensor/wyze-sense_1.jpg','bujia.png','enchufe/enchufe.png')
        .sectionContainer__description.col-lg-6.col-md-6.col-sm-12.align-self-center
          .container.mt-5
            h1.text-capitalize Tecnología avanzada para tus necesidades.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .container.d-flex.justify-content-end
              a(href="catalogo.html").btn.btn-outline-info.mt-4 Catalogo
  section.text-center.p-3.mb-5.bg-info
    h2.text-white.font-italic "No hagas planes, crea opciones." 
    h4.text-dark Y eso es lo que te ofrecemos para una mejor seguridad en tu hogar o trabajo.
  section.container.mb-5
    .row.mb-4
      //- el ciclo while es para que solo aparescan los primero 4 productos
      //- de arreglo dataProducts
      -var nCard = 0;
      while nCard < 4
        -var dataProduct = dataCardProduct[nCard++]       
        .col-lg-3
          .card.mb-3
            img.card-img-top(src=`public/img/${dataProduct[0]}`, alt="")
            .card-body
              h5.card-title.text-capitalize #{dataProduct[1]}
              p.card-text $ #{dataProduct[2]}
            .card-footer.d-flex.justify-content-end
              button.btn.btn-outline-info.text-capitalize(data-toggle="modal" data-target=`${dataProduct[3]}`) leer mas 
    +ModalProduct
    .container.d-flex.justify-content-center
      a.btn.btn-outline-info.text-capitalize(type="button" href="catalogo.html") ver mas
  section.teamContainer.bg-light.page-section.pt-5.pb-5
    .container
      .row
        .col-lg-12.text-center
          h2.text-capitalize nuestro equipo de trabajo
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .container.sliderTeamContainer.mt-4
        +SliderTeam
  +Footer
append script
  script(src="public/js/imgCompare/jquery.event.move.js")
  script(src="public/js/imgCompare/jquery.twentytwenty.js")
  script(src="public/js/imgCompare/imgComparation.js")
  script(src="public/js/sliderProduct.js")
  script(src="public/js/loader.js")