mixin CardCatalogoPrice(title,precio,url,categoriaName)
  - var num1 = 9.99;
  - var num2 = 49.99;
  - var name = 'camara';
  if precio <= num1 && precio >= 0
    div(class=`col mb-4 product-item` category=`precio-09` nameProduct=`${categoriaName}`)
      .card.h-100
        img.card-img-top(src="http://placehold.it/200x170", alt="")
        .card-body
          h5.card-title.text-capitalize #{title}
          p.card-text $ #{precio}
          .container.d-flex.justify-content-end.mt-5
            a.btn.btn-outline-info.text-capitalize(href=`${url}`) leer mas
  else if precio > num1 && precio <= num2
    div(class=`col mb-4 product-item` category=`precio-1049` nameProduct=`${categoriaName}`)
      .card.h-100
        img.card-img-top(src="http://placehold.it/200x170", alt="")
        .card-body
          h5.card-title.text-capitalize #{title}
          p.card-text $ #{precio}
          .container.d-flex.justify-content-end.mt-5
            a.btn.btn-outline-info.text-capitalize(href=`${url}`) leer mas
  else if precio > num2 
    div(class=`col mb-4 product-item` category=`precio-5099` nameProduct=`${categoriaName}`)
      .card.h-100
        img.card-img-top(src="http://placehold.it/200x170", alt="")
        .card-body
          h5.card-title.text-capitalize #{title}
          p.card-text $ #{precio}
          .container.d-flex.justify-content-end.mt-5
            a.btn.btn-outline-info.text-capitalize(href=`${url}`) leer mas